<head>
  {{ partial "head/meta" . }}
  <title>{{ partial "data/title" . }}</title>
  <link rel='canonical' href='{{ .Permalink }}'>
  {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
  {{ end }}
  {{ partial "head/hreflang" . }}
  {{ partial "head/includes" . }}
  {{ partial "head/extra" . }}
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?c533ddd8f3de2039048581d893a1ae8e";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
